<!-- not currently working -- making every new creature entry doubled

<h1>Use this form to edit an existing creature:</h1>

<form action="/creatures/<%= @creature.id %>" method="post">
		<input name="_method" type="hidden" value="put" />
		<input type="text" name="creatures[name]" value="<%= @creature.name %>">
		<input type="text" name="creatures[kind]" value="<%= @creature.kind %>">
		<textarea name="creature[description]" value="<%= @creature.description %>"></textarea>
		<% token_tag form_authenticity_token %>

		<button> Update Creature </button>
</form>

<img src="http://thesecondtake.com/wp-content/uploads/2013/06/the-roto-scopes.png"/>


-->