
<h1>Fill out this form to add a creature to the bog:</h1>

<p>
<form action="/creatures" method="post">
		<input type="text" name="creature[name]" placeholder="Creature Name">
		<input type="text" name="creature[kind]" placeholder="Type of Creature">
		<textarea name="creature[description]" placeholder="Describe creature..."></textarea>
		<%= token_tag form_authenticity_token %>

		<button> Save Creature </button>
</form> <br></br>
</p>

<p>
<div>
	<a href="/">Main Menu</a>
</div>
</p>

<p>
<div class="image">
	<img src="http://25.media.tumblr.com/tumblr_m5dfu9JzFX1rpl3bro1_500.gif"/>
</div>
</p>