<h1>Confirmed! You added the following creature:</h1>

<div>
	Name: <%= @creature.name %> <br>
	Kind: <%= @creature.kind %> <br>
	Description: <%= @creature.description %> <br>

</div>

<a href="/">Main Menu</a> <br>
<br>
<a href="/creatures/new">Add another creature</a>